// ======================================
// $Header
// ======================================
.jumbotron {
  background-image: url('../images/header-bgscott.png');
  background-color: #93C9FF;
  /*background-blend-mode: multiply;*/
  height: 190px;
  margin-bottom: -87;
  box-shadow: 0px 313px rgba(217, 215, 251, 0.2) inset;

}
.surf > h1 {
  font-size: 160%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 202%;
  font-weight: 200;
  letter-spacing: .1em;
  margin-bottom: 4px;

}

.surf > p {
  font-size: 85%;
  color: #123450;
  text-align: center;
  font-weight: 500;
}

/* override Bootstrap's default nav styling */
.nav {
  padding-left: 34%;
}
.navbar-default {
  background-color: transparent;
  background-image: none;
  border-color: none;
  border: none;
  margin-top: -45px;
}

.navbar-brand {
  position: absolute;
  left: 40%;
  top: 59%;
}

.nav>li {
  display: inline-block;
}

.navbar-default .navbar-nav>li>a {
  color: #123450;
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
}

#search {
  padding-right: 50px;
  background-image: url('../images/icon-search.png');
  background-repeat: no-repeat;
  background-position: 75px 10px;
  background-size: 20;
}